<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hashcoding.code.scucrawler.db.mapper.ArticleMapper">
    <resultMap id="baseResultMap" type="Article">
        <id property="articleId" column="article_id"/>
        <result property="title" column="title"/>
        <result property="url" column="url"/>
        <result property="content" column="content"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="createdAt" column="created_at"/>
        <association property="type" javaType="ArticleType">
            <id property="typeId" column="type_id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <select id="selectWithUrl" resultMap="baseResultMap" parameterType="java.lang.String">
        SELECT article_id, title, url, content, updated_at, created_at, article.type_id, name
        FROM article, article_type
        WHERE url=#{url} AND article.type_id = article_type.type_id
    </select>

    <select id="selectWithUrlAndTimeout" resultMap="baseResultMap" parameterType="java.lang.String">
        SELECT article_id, title, url, content, updated_at, created_at, article.type_id, name
        FROM article, article_type
        WHERE url=#{url} AND article.type_id = article_type.type_id
        AND update_at >= #{timeout}
    </select>

    <update id="update" parameterType="Article">
        UPDATE article
        SET title = #{title},
        content = #{content},
        type_id = #{type.typeId}
        WHERE article_id = #{articleId}
    </update>

    <insert id="insert" parameterType="Article">
        INSERT INTO article (title, url, content, type_id)
        VALUES(#{title}, #{url},
        #{content}, #{type.typeId})
    </insert>
</mapper>